<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>

{{>navbar1}}
    <section class="sub-header2_about">
        <div class="txtsub-container">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">ABOUT</h1>
            </div>
            <div class="cont1">
                    <p class="center thought">"If you want to pray to God for better means of subsistence, then first give something to charity"</p>
                </div>
                </div>
                </div>
                        <div class="thumb">
            <img src="images/logo10.jpg" alt="Logo">
        </div>
                <h3 class="serv center">HELPING HAND EDUCATIONAL & CHARITABLE TRUST</h3>
    </section>

    <hr>

    <section class="section">
        <div class="paras">
            <h3 class="serv4 center">INTRODUCTION</h3>
                <p class="ceopara1 center">We started the work from the year 2020 by the helping needy people.</p>
                <p class="ceopara1 center">At Helping Hand-Educational & Charitable Trust, we're raising funds and promiting initiatives to help those who need it most.</p>
                <p class="ceopara1 center">With an array of fundraising events and volunteer projects, we welcome you to join our endeavors aimed at making the world a better place</p>
                <p class="ceopara1 center">Our work is dedicated to funding and delivering charitable services, and we strive to inspire and improves the lives of those who need assistance.</p>
                <p class="ceopara1 center">We work hard every day to better the lives of our charity's recipients through our many causes --including Educations, Medicals, Food & Others</p>
        </div>
    </section>

        <section class="section">
        <div class="paras">
            <h3 class="serv4 center">AIMS & OBJECTS</h3>
                <p class="ceopara1 center">To construct Charitable Hospitals, Medical centers and Educational Institutes.</p>
                <p class="ceopara1 center">To promote welfare, education, social, cultural, health education, charitable. Humanitarian, Real Estate, Constructions, Land Development, Land Improvement, Shelters Homes, Orphanage etc..</p>
                <p class="ceopara1 center">To help and collaborate in establishing and running educational institutions, to financially aid the students, medical centers, old age homes etc..</p>
                <p class="ceopara1 center">For Orphanage, destitute home and other centers for down trodden and needy members of the society</p>
        </div>
    </section>

    <section class="sub-header20 about_bg">
        <div class="about_row">
            <div class="cont">
            <h3 class="serv4_thank center">THANK YOU TO ALL</h3>
            </div>
            <ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont_about">
                    <li><p class="park" >We are very Grateful to each and every donors for their kind contribution and belief.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont_about">
                    <li><p class="park">It is through the blessing in your donations that we have been able to reach out and work with so many needy people.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont_about">
                    
                    <li><p class="park">may Allah bless you and strengthen us to do more better work</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont_about">
                    
                    <li><p class="park">We appeal you to continue to work with us, we will help more needy pepple together in future also and we aew planning to elaborate our work to entire Tumkur District and some of the neighvouring districts of Tumkur.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont_about">
                    
                    <li><p class="park">In this website we have summarized the work done from past 1 year . we discussed how our group has grown up, increasing of needy houses, categories, donors, other groups & many other things.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont_about">
                    
                    <li><p class="park">(In Unexpected Situation; Lockdown period due to Covid-19 out team worked to provide necessary items which benefited to many ppeople</p></li>
                    <p class="park">We special thank to all those who worked in this critical situation)</p>
                    <hr>
                </div>
            </span>
            </ul>
        </div>
        <div class="about_row2">
            <div class="cont_about cont_about2">
            <h3 class="serv4_thank center">OUR MAJOR NOTE</h3>
            </div>
            <ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont_about">
                    <li><p class="park" >We requested people to donate only some part of their earning we are not at all focusing anybody.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont_about">
                    <li><p class="park">At whatever position you are please extend your hands to join those needy people to fill this large poverty gap.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont_about">
                    
                    <li><p class="park">We always welcome the ideas and feedback to improve our group.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont_about ">
                    
                    <li><p class="park">If anyone is interested in this work, we requested them to come forward and extend work in thier areas also. We completely teach and support them.</p></li>
                    <hr>
                </div>
            </span>
            </ul>
        </div>
    </section>
    
    {{>footer}}
<script src="javascript/resp.js"></script>
</body>

</html>