<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>

<body>
        {{>navbar2}}
    <section class="sub-header2_contact">
        <div class="txtsub-container">
            <h1 class="trust center">TRUST DETAILS</h1>
        </div>
    </section>
                <div class="cont5_contact">
                    <p class="center thought">"Cherity will not decrease wealth"</p>
                </div>
        <hr>
    <section class="contact">
        <div class="contact_row">
            <span>
                <div class="cont">
            <h3 class="serv5about center">CONTACT DETAILS</h3>
                    <div class="details">
                        <i class="fa-solid fa-house-chimney-crack fa_icon bank"></i>
                    </div>
                    <h5 class="mob">Helping Hand</h5>
                    <p class="park">Makka Masjid complex, 1st floor,</p>
                    <p class="park"> K.R Extension main road, Tumkur-572101.</p>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    <div class="details">
                        <i class="fa-solid fa-phone fa_icon bank"></i>
                    </div>
                    <h5 class="mob">Amjad Khan A</h5>
                    <p class="park">President</p>
                    <h5 class="mob"><span>Mob: </span>7760526786/ 9886526786</h5>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    <div class="details">
                        <i class="fa-solid fa-phone fa_icon bank"></i>

                    </div>
                    <h5 class="mob">Basavaraju</h5>
                    <p class="park">Vice-President</p>
                    <h5 class="mob"><span>Mob: </span>9886723351</h5>
                    <hr>
                </div>
            </span>
            <span>

                <div class="cont">
                    <div class="details">
                        <i class="fa-regular fa-envelope fa_icon bank"></i>
                    </div>
                    <h5 class="mob">helpinghandeducational.hhect20@gmail.com</h5>
                    <p class="park">Email us to query</p>
                    <hr>
                </div>
            </span>
        </div>

        <div class="contact_row">
            <span>
                <div class="cont">
            <h3 class="serv5about center">BANK ACCOUNT DETAILS</h3>
                    <div class="details">
                        <i class="fa-solid fa-building-columns fa_icon bank"></i>
                    </div>
                    <p class="park">BANK NAME:</p>
                    <h5 class="mob">Federal Bank, Tumkur</h5>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    <div class="details">
                        <i class="fa-solid fa-file-signature fa_icon bank"></i>
                    </div>
                    <p class="park">ACCOUNT HOLDER NAME:</p>
                    <h5 class="mob">Helping Hands Educational & Charitable Trust</h5>
                    <hr>
                </div>
            </span>
                <div class="cont">
                    <div class="details">
                        <i class="fa-solid fa-arrow-down-wide-short fa_icon bank"></i>
                    </div>
                    <p class="park">ACCOUNT NUMBER:</p>
                    <h5 class="mob">16030200005675</h5>
                    <hr>
                </div>
            </span>
            <span>

                <div class="cont">
                    <div class="details">
                        <i class="fa-solid fa-code fa_icon bank"></i>
                    </div>
                    <p class="park">IFSC CODE:</p>
                    <h5 class="mob">FDRL0001603</h5>
                    <hr>
                </div>
            </span>
                        <span>

                <div class="cont">
                    <div class="details">
                        <i class="fa-solid fa-address-card fa_icon bank"></i>
                    </div>
                    <p class="park">PAN NO:</p>
                    <h5 class="mob">AACTH3848K</h5>
                    <hr>
                </div>
            </span>
        </div>
    </section>
    <hr>

    <section class="cont-col2">
            <div class="thumb">
                <h3 class="nap center">GET IN TOUCH WITH US</h3>
            </div>
        <div class="render">
            <form action="/contact" method="POST" onsubmit="myFunction()">
                <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
                <input type="email" name="email" id="email" placeholder="Enter Email id" required>
                <input type="text" name="subject" id="subject" placeholder="Enter your concern" required>
                <textarea rows="5" name="message" id="message" placeholder="Message" required></textarea>
                <button type="submit" id="submit" class="btn center1">send message  <i class="fa-solid fa-paper-plane"></i></i></button>
            </form>
        </div>
        </div>
    </section>
    {{>footer}}
<script src="javascript/resp.js"></script>
</body>

</html>