<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>

<body>
    {{>navbar1}}
    <section class="sub-header2_education">
        <div class="txtsub-container_education">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">EDUCATION</h1>
            </div>
            <div class="cont1 thought">
                    <p class="center">"Help to achieve their dreams, because education is the most powerful weapon which you can use to change the world!"</p>
                </div>
                </div>
                </div>
                <h3 class="serv center">WE ARE SUPPORTING SCHOOL/COLLEGE STUDENTS</h3>
    </section>
                <hr>
    <section class="contact1">
        <div class="education">
                <img src="images/book.png" alt="Books">
                <img src="images/bags.jpeg" alt="Bags">
                <img src="images/items.jpg" alt="Stationaries" class="stationary">
                <img src="images/exam.jpg" alt="Exam">
            </div>
        <div class="row">
        <div class="edu_r">
            <ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont">
                    <li><p class="park" >We provide books, bags, stationary items, etc.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">For minors, we pay an average school fees.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">For college, we pay an average fee for any PUC/Diploma/Degree or Any Course.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">For students who are interested to take National Level/Governments/Civil Services/Any other Exam, we are tryingh to support them by paying.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">We provide a laptop facility for deserving Brilliant students.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    <li><p class="park">Helping students to gain knowledge about financial assistance from the government schemes.</p></li>
                    <hr>
                </div>
            </span>

        </div>

        <div class="cont contb">
            <div class="standard">
            <div class="benefit">
            <h3 class="benefit2 center">BENEFICIARY</h3>
            </div>
            <div class="contb1 cont ">
            <p class="park">10 - I to X Standard</p>
            </div>

            <div class="contb1 cont ">
            <p class="park">04 - PUC</p>
            </div>

            <div class="contb1 cont ">
            <p class="park">03 - Diploma.</p>
            </div>

            <div class="contb1 cont ">
            <p class="park">05 - Engineering</p>
            </div>

            <div class="contb1 cont ">
            <p class="park">10 - UG & PG</p>
            </div>
            <div class="contb1 cont ">
            <p class="park">02 - MBBS, BUMS</p>
            </div>

            <div class="contb1 cont ">
            <p class="park">03 - Para-Medicals</p>
            </div>

            <div class="contb1 cont ">
            <p class="park">02 - Laptops</p>
            </div>
            </ul>
        </div>
        </div>
        </div>
    </section>
    <hr>
     <section class="sub-header15">
        <div class="txtsub-container empower">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">EMPOWERMENT</h1>
            </div>
            <div class="cont1 thought">
                    <p class="center">"Authority or power given to someone to do something"</p>
                </div>
                </div>
                </div>  
        <div class="paras1">
                <ul style = "list-style-type:disclosure-closed;">
                <li><p class="emppara ">For the students who have completed their degree or education and struggling for placement, we are trying to support them to get placement in their respective fields.</p></li>
                <li><p class="emppara ">Students who are dropped out from school/colleges or in completion of the degree, those not having interest to complete their education.</p></li>
                <li><p class="emppara ">We are trying to support them in self skills development by providing their interested field job in this way there is no waste of time in learning skills and capable to earn income.</p></li>
                <li><p class="emppara ">EX: For men & women; Hardware, Grocery, Clothes & Furniture shops, Showrooms, Electrician, Carpenters, Painters, Drivers, Garments, Receptionist, Facatory, Clerical etc.</p></li>
                </ul>
                </div>
        </section>
    {{>footer}}
    <script src="javascript/resp.js"></script>
</body>

</html>