<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>

<body>
    {{>navbar1}}
    <section class="sub-header2_food">
        <div class="txtsub-container">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">FOOD</h1>
            </div>
            <div class="cont2 thought">
                    <p class="center ">"The best of you are those who feed others."</p>
                    <hr>
                    <p class="center">Before wasting food, take a minute to think for the people around the worlkd who have no food...!</p>
                </div>
                </div>
                </div>
                <h3 class="serv center">FOR THE PERSONS WHO ARE LESS FORTUNATE. LET US HELP THEM BY PROVIDING ESSENTIAL COMMODITIES</h3>
    </section>
    <hr>
    <section class="sub-header17 food_bg">
        <div class="food_row">
            <div class="food">
            
            <div class="cont">
            <h3 class="serv1 center">MONTHLY FOOD</h3>
            </div>
            <ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont">
                    <li><p class="park" >Now every month we are distributing 500+ food kits & we also issued books to needy families to keep track the details.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
            <h3 class="serv1 center">SPECIAL FOOD</h3>
            </div>
                <div class="cont">
                    <li><p class="park">In every year in the month of Festivals we distribute 1000+ kits eith additional items.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">in Lockdown Period due to covid-19 we distributed 2000+ kits in Tumkur Urban and Rural Areas.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">Helping Them to gain knowledge about food facilities from governments schemes like BPL card and other cards.</p></li>
                    <hr>
                </div>
            </span>
            </ul>
            </div>

        <div class="cont center">
            <div class="food1">
            <div class="cont">
            <h3 class="serv1 center_food">EACH FOOD KIT CONTAINS</h3>
            </div>
            <div class="cont2">
                
            <ul style = "list-style-type:disclosure-closed;">
            <li><p class="park2">5+2Kg Rice</p></li>
            <li><p class="park2">5Kg Wheat Flour</p></li>
            <li><p class="park2">3Kg Ragi Flour</p></li>
            <li><p class="park2">1 Liter Cooking oil</p></li>
            <li><p class="park2">1Kg Toor Dal</p></li>
            <li><p class="park2">1 Kg Sugar</p></li>
            <li><p class="park2">1 Tea Packet</p></li>
            <li><p class="park2">Additional Items</p></li>
            </ul>
            </div>
            <div class="cont">
            <h3 class="serv1 center_food">EACH KIT COSTS RS.700/-</h3>
            </div>
            </div>
            </div>
        </div>
    </section>
    {{>footer}}
    <script src="javascript/resp.js"></script>
</body>

</html>