<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>

<body>
    {{>navbar1}}
    <section class="sub-header2">
        <div class="txtsub-container">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">HOUSEHOLD</h1>
            </div>
            <div class="cont2 thought">
                    <p class="center">"People are Struggling and facing hardship to fullfil their daily needs,"</p>
                    <hr>
                    <p class="center">"Just join hands to make their life Easy"</p>
                </div>
                </div>
                </div>
                <h3 class="serv center">WE ARE PROVIDING THE ITEMS WHICH ARE HELPFUL IN DAILY ROUTINE LIFE</h3>
    </section>
    <hr>
    <section class="contact">



        <div class="row_house">
            <div class="cont">
            <h3 class="serv_house center">SPECIAL OCCASIONS:</h3>
            
            <h3 class="serv2 ">Clothes</h3>
            <ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont">
                    <li><p class="park" >In every Festivals we are providib=ng new clothes to Orphans and the Widows.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    <li><p class="park" >Many of the cloth shop owners joined the hands with us and gave their small damaged new clothes.</p></li>
                    <hr>
                </div>
            </span>
            <span>
            <h3 class="serv2">Blankets</h3>
                <div class="cont">
                    <li><p class="park">In every winter we wre distributing woolwn blankets & sweaters.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">in Lockdown Period due to covid-19 we distributed 2000+ kits in Tumkur Urban and Rural Areas.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">Helping Them to gain knowledge about food facilities from governments schemes like BPL card and other cards.</p></li>
                    <hr>
                </div>
            </span>
            <span>
            </ul>
        </div>
        </div>

    <hr>
            <div class="home">
<div class="house">
            <div class="benefit ">
            <h3 class="benefit2 center">DISTRIBUTED</h3>
            </div>
            <div class="cont3">
            <p class="park">200 Clothes</p>
            </div>

            <div class="cont3">
            <p class="park">500 Blankets.</p>
            </div>

            <div class="cont3">
            <p class="park">100 Cookeries</p>
            </div>

            <div class="cont3">
            <p class="park">50 Tube Light</p>
            </div>

            <div class="cont3">
            <p class="park">80 Sleepers</p>
            </div>

            <div class="cont3">
            <p class="park">Other Additional Item</p>
            </div>           
        </div>

        <div class="household1">
                <div class="household">
                <img src="images/clothes.jpg" alt="Clothes">
                <p class="med">CLOTHES</p>
                </div>
                <div class="household">
                <img src="images/blanket.jpg" alt="Blenket">
                <p class="med">BLANKETS</p>
                </div>
                </div>

                <div class="household1">
                <div class="household">
                <img src="images/cooker.png" alt="Cooker">
                <p class="med">COOKERS</p>
                </div>
                <div class="household">
                <img src="images/sleeper.jpg" alt="Sleepers">
                <p class="med">SLEEPERS</p>
                </div>
                </div>
                </div>
    </section>
    <hr>
     <section class="sub-header_house">
        <div class="txtsub-container">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">DOCUMENTS</h1>
            </div>
            <div class="cont1">
                    <p class="center thought">"Lack of Documents is becoming A problem for acceptance"</p>
                </div>
                </div>
                </div>  
        <div class="paras1">
                <ul style = "list-style-type:disclosure-closed;">
                <li><p class="ceopara1 ">Many of poor people are not having proper government documents due to lack of knowledge</p></li>
                <li><p class="ceopara1 ">We are helping them to gain knowldge about government relater documents.</p></li>
                <li><p class="ceopara1 ">EX: BPL/ Aadhar/ Pension/ Election ID cards, Income & Caste/ Birth &</p></li>
                <p class="ceopara1 "> Death certificates, Bank/ Check Queries & other documents</p>
                </ul>
                </div>
        </section>
    {{>footer}}
    <script src="javascript/resp.js"></script>
</body>

</html>