<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>
<body>
        {{>navbar}}
        <section class="header">
        <div class="main">
            <h1><span class="auto-input"></span></h1>
        </div>
        <div class="txt-container">
            <div class="txt-box">
                <div class="amz">
                    <h1>THE HELPING HAND</h1>
                    <div class="slider">
                        <div>NOW</div>
                        <div>HANDS TO HELP</div>
                        <div>LIFTING UP</div>
                    </div>
                </div>
                <P class="sub-box">Educational & Charitable Trust ®</P>
                <a href="/contact" class="btn">Visit Us To Know More</a>
            </div>
            <div class="image2">
                <img src="images/logo10.jpg" alt="Helping">

            </div>
        </div>
    </section>
    <section class="navbar2">
        <div class="navbar2main">
        <div class="navbar2m">
            {{!-- <h3 class="navbarindex center"><a href="/" class="nav2 current">Home</a></h3> --}}
            <h3 class="navbarindex center"><a href="/education" class="nav2 current">Education</a></h3>
            <h3 class="navbarindex center"><a href="/medical" class="nav2 current">Medical</a></h3>
            <h3 class="navbarindex center"><a href="/food" class="nav2 current">Food</a></h3>
            <h3 class="navbarindex center"><a href="/marriage" class="nav2 current">Marriage</a></h3>
            </div>
            <div class="navbar2m">
            <h3 class="navbarindex center"><a href="/shelter" class="nav2 current">Shelter</a></h3>
            <h3 class="navbarindex center"><a href="/household" class="nav2 current">Household</a></h3>
            <h3 class="navbarindex center"><a href="/about" class="nav2 current">About</a></h3>
            <h3 class="navbarindex center"><a href="/contact" class="nav2 current">Contact</a></h3>
            </div>
            </div>
    </section>
    <hr>
 <section class="section">
        <div class="paras">
            <h3 class="serv_index center">OUR VISION</h3>
                <p class="ceopara1 center">"Our vision is to make a better every day life for many peoples"</p>
    </section>
    <section class="section sub-header21">
        <div class="paras">
            <h3 class="serv_index center">OUR MISSION</h3>
<div class="mission">
<ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont">
                    <li><p class="park" >There are many people who are wishing to donate; at present we are working just to support and help reach the right amount to needy people</p></li>
                </div>
            </span>
            <span>
                <div class="cont">
                    <li><p class="park">We aim to improve the quality of life of poor people by providing them with necessary things.</p></li>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">Creating awareness among people about accessible, appropriate, affordable health care centers.</p></li>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">To Strive for the education and socio-economic upliftment of under privileged poor people.</p></li>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">The group will not differentiate on the basis of the gender, color, religion, caste and etc.,</p></li>
                </div>
            </span>
            </ul>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="paras">
            <h3 class="serv_index center">INTRODUCTION</h3>
                <p class="ceopara1 center">We started the work from the year 2020 by the helping the needy peoples.</p>
                <p class="ceopara1 center">At <span class="company">Helping Hand-Educational & Charitable Trust</span>, we're raising funds and promiting initiatives to help those who need it most.</p>
                <p class="ceopara1 center">With an array of fundraising events and volunteer projects, we welcome you to join our endeavors aimed at making the world a better place</p>
                <p class="ceopara1 center">Our work is dedicated to funding and delivering charitable services, and we strive to inspire and improves the lives of those who need assistance.</p>
                <p class="ceopara1 center">We work hard every day to better the lives of our charity's recipients through our many causes --including Educations, Medicals, Food & Others</p>
        </div>
    </section>
    <section class="section">
        <div class="paras">

            <h3 class="serv_index center">AIMS & OBJECTS</h3>
            <div class="aims">
<ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont">
                    <li><p class="park" >To construct Charitable Hospitals, Medical centers and Educational Institutes.</p></li>
                </div>
            </span>
            <span>
                <div class="cont">
                    <li><p class="park">To promote welfare, education, social, cultural, health education, charitable. Humanitarian, Real Estate, Constructions,</p></li>
                    <p class="park">Land Development, Land Improvement, Shelters Homes, Orphanage and relief activities ET that will protect, safeguard,</p>
                    <p class="park">improve the quality and raise the standard of the human life, particularly economically weaker sections of the society, so that they may health, happy contented and diginified life.</p>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">To help and collaborate in establishing and running educational institutions, to financially aid the students, medical centers, old age homes rehabilition institutions for the destitute, vocational training centers for the handicapped and self job-oriented activities for the unemployed.</p></li>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">For Orphanage, destitute home and other centers for down trodden and needy members of the society.</p></li>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">To acquire immnovable and movable properties by purchase, lease, mortgage, gifts, grants, legacy, bequest, exchange, right privilage from any person's, company society, Government Co-Operative bodies or institutions whatsoever and to hold movable and immovable properties lawfully held of all descriptions for the benefit of the Trust.</p>
            </ul>
            </div>
        </div>
    </section>
                <div class="cont6">
                    <p class="center thought">"Basically we are from Tumkuru ; <br> we starts our work in this place,"</p>
                </div>
<hr>

    <section id="client">
        <h2 class="h-secondary center">TUMKUR CITY AND DISTRICT PROFILE</h2>
        <div class="sponsors">
            <img src="images/tumkur2.jpg" alt="Tumkur Distriict">
        </div>
    </section>
{{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".auto-input", { strings: ['"SAVING ONE LIFE EQUALS TO SAVING ENTIRE HUMANITY"'], typeSpeed: 120, backSpeed: 120, loop: true });
    </script>
<script src="javascript/resp.js"></script>
</body>

</html>
