<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>

<body>
    {{>navbar1}}
    <section class="sub-header2_marriage">
        <div class="txtsub-container">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">MARRIAGE</h1>
            </div>
            <div class="cont2 thought">
                    <p class="center ">"Now a day's Marriages of Rich People are having no Limitation..!"</p>
                    <hr>
                    <p class="center">Due to this poor families are facing more difficulties in the Marriages of their children</p>
                </div>
                </div>
                </div>
                <h3 class="serv center">LET US HELP THE BRIDE'S NEEDY FAMILIES BY PROVIDING ONLY MAJOR ESSENTIAL WEDDING ITEMS</h3>
    </section>
    <hr>
    <section class="sub-header18 marriage_bg">
        <div class="marriage_row">
            <div class="shaadi">
                <div class="merriage1">
                <div class="merriage">
                <img src="images/bride.png" alt="Bride Dress">
                <p class="med">BRIDE DRESSE'S</p>
                </div>
                <div class="merriage">
                <img src="images/groom.png" alt="Groom Sherwani">
                <p class="med">GROOM</p>
                <p class="med">SHERWANI</p>
                </div>
                </div>

                <div class="merriage1">
                <div class="merriage">
                <img src="images/watch.jpg" alt="Watch">
                <p class="med">WATCH</p>
                </div>
                <div class="merriage">
                <img src="images/wooden.jpg" alt="Cutton Bed">
                <p class="med">WOODEN COT</p>
                </div>
                </div>

                <div class="merriage1">
                <div class="merriage">
                <img src="images/board.jpg" alt="CupBoard">
                <p class="med">CUPBOARD</p>
                </div>
                <div class="merriage">
                <img src="images/kitchen.jpg" alt="Kitchen">
                <p class="med">KITCHEN</p>
                </div>
                </div>



        <div class="merriage_row">
            <ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont">
                    <li><p class="park" >Extra facilities are givendepending on situation.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    <li><p class="park">We are under taking both mass & individual marriages.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">Helping bride's parents to gain knowledge about Financial Assistance from the government schemes.</p></li>
                    <hr>
                </div>
            </span>

            </ul>
        </div>
        </div>
        <div class="cont center">
            <div class="marriage_covered">
            <div class="cont">
            <h3 class="serv1 center">COVERED MARRIAGES</h3>
            </div>
            <div class="cont2_covered">
            <ul style = "list-style-type:disclosure-closed;">
            <li><p class="park2">08 - City Level</p></li>
            <li><p class="park2">03 - Rural Level</p></li>
            <li><p class="park2">04 - Taluk Level</p></li>
            </ul>
            </div>            
            </div>            
        </div>
        </div>
    </section>
                    <div class="remarks">
                <div class="cont">
            <h3 class="serv_index center">Remarks:</h3>
                    <p class="park_remarks center">"We appeal to all class of people make your children marriages as simple as possible".</p>
                </div>
            </div>
    {{>footer}}
    <script src="javascript/resp.js"></script>
</body>

</html>