<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>

<body>
    {{>navbar1}}
    <section class="sub-header2">
        <div class="txtsub-container">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">MEDICAL</h1>
            </div>
            <div class="cont1">
                    <p class="center thought">"No one shell suffer in silence or feel isolated; hance our group is trying hard to build self confidence in disease prone and poor people to regain a sense of belonging"</p>
                </div>
                </div>
                </div>
                <h3 class="serv center">WE KNOW MANY PATIENTS SUFFERING FROM VARIOUS DISEASES</h3>
    </section>
    <hr>
                <div class="medical1">
                <div class="medical">
                <img src="images/emergency.png" alt="Emergency">
                <p class="med">EMERGENCY</p>
                </div>
                <div class="medical">
                <img src="images/coronavirus.png" alt="Cancer">
                <p class="med">CANCER</p>
                </div>
                <div class="medical">
                <img src="images/kidney.jpg" alt="Kidney">
                <p class="med">KIDNEY</p>
                </div>
                <div class="medical">
                <img src="images/dialysis.png" alt="Dialysis">
                <p class="med">DIALYSIS</p>
                </div>
                <div class="medical">
                <img src="images/heart.jpg" alt="Heart">
                <p class="med">HEART</p>
                </div>
                <div class="medical">
                <img src="images/paralysis.jpg" alt="Paralysis">
                <p class="med">PARALYSIS</p>
                </div>
                <div class="medical">
                <img src="images/otho.jpg" alt="Orthopedic">
                <p class="med">ORTHOPEDIC</p>
                </div>
                </div>

                <div class="medical1">
                <div class="medical">
                <img src="images/pregnancy.jpg" alt="Pregnancy">
                <p class="med">PREGNANCY</p>
                </div>
                <div class="medical">
                <img src="images/tuber.jpg" alt="Tuber Culosis">
                <p class="med">TUBER <br> CULOSIS</p>
                </div>
                {{!-- <div class="medical">
                <img src="images/bed.jpg" alt="Bed Ridden">
                <p class="med">BED RIDDEN</p>
                </div> --}}
                <div class="medical">
                <img src="images/accident.png" alt="Accident">
                <p class="med">ACCIDENT</p>
                </div>
                <div class="medical">
                <img src="images/disease.png" alt="Disease">
                <p class="med">OTHER <br> DISEASE</p>
                </div>
                <div class="medical">
                <img src="images/medicine.jpg" alt="Medicines">
                <p class="med">MONTHLY <br> MEDICINES</p>
                </div>
                <div class="medical">
                <img src="images/medical.jpg" alt="medical">
                <p class="med">MEDICAL <br> CAMPS</p>
                </div>
                </div>
            
    <section class="sub-header16 medical_bg">
        <div class="medical_row">
            <ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="medical_cont3">
 
                    <li><p class="park">We undertake 08-10 Emergency cases per month.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="medical_cont3">
                    <li><p class="park">We are providing 02 Dialysis per month, for each dialysis patient</p></li>
                    <hr>
                </div>
            </span>
            <span>
            <span>
                <div class="medical_cont3">
                    <li><p class="park">We try to pay the patient bill as much as possible.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="medical_cont3">
                    
                    <li><p class="park">Regular medicine for monthly patients per month.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="medical_cont3">
                    
                    <li><p class="park">Every Quaterly we arrange medical camps in slum areas Regular check up, eyes & circumstances etc.</p> </li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="medical_cont3">
                    <li><p class="park">We also undertake those patients, who have nobody in their family, to look after them..</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="medical_cont3">
                    <li><p class="park">Helping patients to gain knowledge about financial assisstance from the other groups and government schemes.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="medical_cont3">
                    <li><p class="park">If patient dies during treatment we arrange funeral expenses.</p>
                    <hr>
                </div>
            </span>
            </ul>
        </div>
        
        
        <div class="cont">
            <div class="benefit_medical ">
            <div class="standard">
            <h3 class="benefit2 center">BENEFICIARY</h3>
            <div class="medical_cont3">
            <p class="park">08 - Cancer</p>
            </div>

            <div class="medical_cont3">
            <p class="park">14 - Dialysis.</p>
            </div>

            <div class="medical_cont3">
            <p class="park">02- Paralysis</p>
            </div>

            <div class="medical_cont3">
            <p class="park">05 - Heart</p>
            </div>

            <div class="medical_cont3">
            <p class="park">10 - Pediatrics</p>
            </div>

            <div class="medical_cont3">
            <p class="park">04 - Bedridden</p>
            </div>

            <div class="medical_cont3">
            <p class="park">05 - Accident Case</p>
            </div>

            <div class="medical_cont3">
            <p class="park">10 - Orthopedic</p>
            </div>

            <div class="medical_cont3">
            <p class="park">10 - Other Diseases</p>
            </div>
            </div>
           </div>
    </section>
    {{>footer}}
    <script src="javascript/resp.js"></script>
</body>

</html>