<!DOCTYPE html>
<html lang="en">
<head>

{{>headerlinks}}
</head>
<body>
    {{>navbar1}}
    <section class="sub-header">
        <div class="txtsub-container">
            <h1 class="h-primary center">--OUR SERVICES--</h1>
            <div class="amz center">
                <div class="slider">
                    <div>Construction of High Rise Buildings</div>
                    <div>Structural Design</div>
                    <div>Engineering Services</div>
                    
                </div>
            </div>
        </div>
    </section>
    </section>
    <section class="services">
        <div id="services">
            <div class="box">
                <img src="images/arch.jpg" alt="Apartments">
                <h3 class="serv center">Engineering Design</h3>
                <p class="ceopara1 center">To bring the wholesome ideas to reality Engineering designs are the first
                    footsteps.</p>
            </div>
            <div class="box">
                <img src="images/str.jpg" alt="Apartments">
                <h3 class="serv center">Structural Design</h3>
                <p class="ceopara1 center">In order to ensure the safety and durability of the building constructed, it
                    should get a design related to structural work.</p>
            </div>
            <div class="box">
                <img src="images/cons.jpg" alt="Apartments">
                <h3 class="serv center">Construction</h3>
                <p class="ceopara1 center">We undergo construction of any structure after finalising the plan and
                    approved by the government body</p>
            </div>
            <div id="services">
                <div class="box">
                    <img src="images/new20.jpg" alt="Apartments">
                    <h3 class="serv center">Project Management</h3>
                    <p class="ceopara1 center">The management of the project is mission based. It means that the projects
                        organisation end with the end of the project building. </p>
                </div>
                <div class="box">
                    <img src="images/new78.jpg" alt="Apartments">
                    <h3 class="serv center">Research Consultation</h3>
                    <p class="ceopara1 center">Research field is vast areas where people dealing with
                        projects.So we provide research guidance with regular interactions with the
                        client.</p>
                </div>
            </div>
    </section>
    {{>footer}}
<script src="javascript/resp.js"></script>
</body>

</html>