<!DOCTYPE html>
<html lang="en">
<head>
{{>headerlinks}}
</head>

<body>
    {{>navbar1}}
    <section class="sub-header2">
        <div class="txtsub-container">
            <div class="contact">
            <div class="cont1">
            <h1 class="h-primary center">SHELTER</h1>
            </div>
            <div class="cont2 thought">
                    <p class="center">"Housing is absolutely essential to human flourishing.</p>
                    <hr>
                    <p class="center">Without stable shelter, it all falls apart"</p>
                </div>
                </div>
                </div>
                <h3 class="serv center">WE ARE PROVIDING FACILITY IN RAINY SEASON & DURING NATURAL CALAMITIES</h3>
    </section>

    <hr>

    <section class="contact">
        <div class="shelter_row ">
            <ul style = "list-style-type:disclosure-closed;">
            <span>
                <div class="cont">
                    <li><p class="park" >Tarpal for the Kutcha Houses, where roof is damaged and leakage occurs during rainy season.</p></li>
                    <hr>
                </div>
            </span>
                <div class="cont">
                    <li><p class="park">Construction or Renovate of Roof & Houses, in heavy damage, if the house is own property of needy people.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">Helping them to gain knowlwdge about Financial Assistance from the other groups and government schmems.</p></li>
                    <hr>
                </div>
            </span>
            <span>
                <div class="cont">
                    
                    <li><p class="park">Donors helped by giving their construction items, which are removed at the time of construction of their new houses.</p></li>
                    <p class="park">EX: Doors, Windows, Iron Rods, Sand, Bricks, Cement Steels and Etc.,</p>
                    <hr>
                </div>
            </span>
            <span>
            </ul>
        </div>
        <div class="cont center max-zindex">
            <div class="conts thought">
            <h3 class="serv2 center">PROVIDED SHELTER</h3>
            <div class="cont2">
            <ul style = "list-style-type:disclosure-closed;">
            <li><p class="park2">06 - Tarpal</p></li>
            <li><p class="park2">04 - Roof</p></li>
            </div>           
            </div>
            </ul>
        </div>
    </section>
    
    {{>footer}}
    <script src="javascript/resp.js"></script>
</body>

</html>