<footer>
        <div class="footer center max-zindex2">
            Created By <a class="footname" href="https://www.instagram.com/yaseen07_/" target="_blank">Yaseen</a> Copyright &copy; 2023 helpinghandtrust.com All rights reserved
        </div>
</footer>