<nav class="navbar background h-nav max-zindex2">
            <a href="/"><img src="images/base.jpg" alt="logo"></a>
            <ul class="nav-list v-class">
                <li><a href="/">Home</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/medical">Medical</a></li>
                <li><a href="/food">Food</a></li>
                <li><a href="/marriage">Marriage</a></li>
                <li><a href="/shelter">Shelter</a></li>
                <li><a href="/household">Household</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="rightNav">
                <input type="text" name="search" id="search">
                <button class="btn-sm">Search</button>
            </div>
            <div class="burger" id="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>